body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}

#root-container {
  overflow: hidden;
  height: 100vh;
}

.entity-contents {
  position: relative;
}

.entity-contents-display {
  padding: 2px;
  background-color: white;
}

.entity-contents-display .boxed-entity {
  border: 1px solid lightgray;
  padding: 5px;
  background-color: white;
  /* Sets the background color to white */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Adds a shadow */
  width: 100px;
}

.entity-header {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  width: 100%;
}

.favicon {
  width: 8px;
  /* Adjust as needed */
  height: 8px;
  /* Adjust as needed */
  margin-left: 0px;
  margin-right: 2px;
  margin-top: -1px;
}

.entity-title {
  font-weight: bold;
  font-size: 8px;
  cursor: default;
  width: 100%;
}

.entity-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  min-width: 30px;
  cursor: default;
}

.screenshot {
  max-width: 100%;
  /* Ensures image does not exceed the width of its container */
  height: auto;
  /* Maintains aspect ratio */
}

.notes {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: default;
}

.note {
  margin-left: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.children-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.entity,
.children-container {
  flex-grow: 0;
}


.centered .entity {
  position:relative;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  align-items: center;
}

.centered .entity-contents {
  margin-bottom: 2em;
}
.centered .children-container {
  margin: 0px;
  display: flex;
  align-items: flex-start; /* Align children to the top */
  flex-direction: row;
  justify-content: center; /* This will center the children horizontally */
  overflow: visible; /* This ensures the line is not clipped */
}

/* Additional styles to ensure proper spacing between children */
.centered .children-container > .entity {
  margin: 0 10px; /* Adjust the spacing as needed */
}

/* Vertical line from parent to the horizontal line */
.centered.css-connector .entity-contents::after {
  content: '';
  position: absolute;
  top: calc(100%);
  left: calc(50%);
  /* Adjust so that it connects with the vertical line */
  height: 1em;
  /* This is the length of the line */
  border-left: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.centered.css-connector .entity.no-children .entity-contents::after {
  display: none;
  /* Hide lines for an only child */
}

/* Vertical line from parent to the horizontal line */
.centered.css-connector .entity::after {
  content: '';
  position: absolute;
  top: -1em;
  left: calc(50%);
  /* Adjust so that it connects with the vertical line */
  height: 1em;
  /* This is the length of the line */
  border-left: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: visible; /* This ensures the line is not clipped */
  z-index: 1; /* This ensures the line is above other elements */
}


/* Horizontal line to the right */
.centered.css-connector .entity.first-child::before {
  content: '';
  position: absolute;
  top: -1em;
  left: 50%;
  /* Adjust so that it connects with the vertical line */
  width: calc(50% + 1em);
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: visible; /* This ensures the line is not clipped */
  z-index: 1; /* This ensures the line is above other elements */
}

/* Horizontal line to the left */
.centered.css-connector .entity.last-child::before {
  content: '';
  position: absolute;
  top: -1em;
  left: -1em;
  /* Adjust so that it connects with the vertical line */
  width: calc(50% + 1em);
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: visible; /* This ensures the line is not clipped */
  z-index: 1; /* This ensures the line is above other elements */
}

/* Horizontal line to the left and right */
.centered.css-connector .entity.middle-child::before {
  content: '';
  position: absolute;
  top: -1em;
  left: -1em;
  /* Adjust so that it connects with the vertical line */
  width: calc(100% + 2em);
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: visible; /* This ensures the line is not clipped */
  z-index: 1; /* This ensures the line is above other elements */
}


.centered.css-connector .entity.only-child::before {
  display: none;
}

.centered.css-connector .entity.orphan::after {
  display: none;
}

.horizontal .entity {
  position: relative;
  /* Needed for absolute positioning of pseudo-elements */
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 2px;
}

/* Vertical line from the child up and down */
.horizontal.css-connector .entity>.children-container::before {
  content: '';
  position: absolute;
  top: 0%;
  /* Align with the middle of the parent */
  left: -12px;
  height: calc(100% + 4px);
  /* Make sure the line is long enough to reach the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Vertical line from the child up */
.horizontal.css-connector .entity.last-child>.children-container::before {
  content: '';
  position: absolute;
  top: -1px;
  /* Align with the middle of the parent */
  left: -12px;
  height: calc(50% + 2px);
  /* Make sure the line is long enough to reach the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Vertical line from the child down */
.horizontal.css-connector .entity.first-child>.children-container::before {
  content: '';
  position: absolute;
  top: 50%;
  /* Align with the middle of the parent */
  left: -12px;
  height: calc(50% + 4px);
  /* Make sure the line is long enough to reach the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Horizontal line from parent to the vertical line */
.horizontal.css-connector .entity-contents::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -12px;
  /* Adjust so that it connects with the vertical line */
  width: 12px;
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Horizontal line from parent to the vertical line */
.horizontal.css-connector .entity-contents::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100%);
  /* Adjust so that it connects with the vertical line */
  width: 12px;
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.horizontal.css-connector .entity.only-child::after,
.horizontal.css-connector .entity.only-child>.children-container::before {
  display: none;
  /* Hide lines for an only child */
}

.horizontal.css-connector .entity.no-children .entity-contents::after {
  display: none;
  /* Hide lines for an only child */
}

.horizontal.css-connector .entity.orphan>.entity-contents::before {
  display: none;
}

.horizontal.css-connector .entity.orphan>.children-container::before {
  display: none;
}


.vertical .entity {
  position: relative;
  /* Needed for absolute positioning of pseudo-elements */
  margin: 2px;
}


/* Horizontal line from parent to the vertical line */
.vertical.css-connector .entity-contents::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1em;
  /* Adjust so that it connects with the vertical line */
  width: 1em;
  /* This is the length of the line */
  border-top: 2px solid #000;
  /* The horizontal line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.vertical.css-connector .entity.first-child:after {
  content: '';
  position: absolute;
  top: -2px;
  /* Align with the center of the last child */
  left: -1em;
  /* Position to the left of the content */
  height: calc(100% + 4px);
  /* The height of the line should be to the top of the children container from the middle of the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Shadow for the line */
}

.vertical.css-connector .entity.only-child .entity-contents:after {
  content: '';
  position: absolute;
  top: -2px;
  /* Align with the center of the last child */
  left: -1em;
  /* Position to the left of the content */
  height: calc(50% + 2px);
  /* The height of the line should be to the top of the children container from the middle of the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Shadow for the line */
}

.vertical.css-connector .entity.last-child .entity-contents:after {
  content: "";
  position: absolute;
  top: -2px;
  /* Align with the center of the last child */
  left: -1em;
  /* Position to the left of the content */
  height: calc(50% + 4px);
  /* The height of the line should be to the top of the children container from the middle of the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Shadow for the line */
}

.vertical.css-connector .entity.middle-child:after {
  content: '';
  position: absolute;
  top: -2px;
  /* Align with the center of the last child */
  left: -1em;
  /* Position to the left of the content */
  height: calc(100% + 4px);
  /* The height of the line should be to the top of the children container from the middle of the last child */
  border-left: 2px solid #000;
  /* The vertical line */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Shadow for the line */
}

.vertical.css-connector .entity.orphan>.entity-contents::before {
  display: none;
}
